<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <Link rel="stylesheet" href="{%static 'css/estiloss.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title></head>
<body id="body" class="body" >
    <div class="row col-md-12 div_body" style="margin-bottom: 67px;">
        <div class="col-md-10 container">
            {%include "app_sis_vacuna/encabezado.html" %}
        </div>
        <h1 class="h2">Ingrese rut de persona para eliminar</h1>
        <div class="container div_form" style="text-align: center; justify-content: end;">          
            <form class="col-md-12 container column" style="text-align: center; justify-content: end;" action="/app_sis_vacuna/eliminacion_personas/" method="GET">
                <table class="container col-md-6">
                    <tr>
                        <td>Ingrese rut de persona</td>
                        <td><input type="text" name="txt_rut"></td>
                    </tr>
                    <tr>
                        <td><input class="input" style="width:45%;" type="submit" value="Eliminar"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{%include "app_sis_vacuna/footer.html" %}
</body>
</html>