{% load static %}
<Link rel="stylesheet" href="{%static 'css/estilos.css' %}">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-8">
                <img class="img" src="{% static 'img/RutinFit-white-small.png' %}" width="55%">
            </div>
            <div class="div_nav col-md-7 col-xs-4">
                <ul class="col-xs-12 col-md-12">
                    <li class="col-md-2">Home</li>
                    <li class="col-md-2"><a href="/app_sis_vacuna/ingresar_persona/">Ingresar persona</a> <br></li>
                    <li class="col-md-2"><a href="/app_sis_vacuna/listar_persona/">Listar persona</a> <br></li>
                    <li class="col-md-2"><a href="/app_sis_vacuna/busqueda_persona/">Buscar persona</a> <br></li>
                    <li class="col-md-2"><a href="/app_sis_vacuna/eliminar_persona/">Eliminar persona</a> <br></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

