<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <Link rel="stylesheet" href="{%static 'css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title></head>
<body id="body" class="body" >
    <div class="row col-md-12 div_body">
        <div class="col-md-10 container">
            {%include "app_sis_vacuna/encabezado.html" %}
        </div>
    <h1 class="container" style="text-align: center;">Persona buscado es:{{query}}</h1>
    <h1 class="container" style="text-align: center;">ok</h1>
    <table class="container col-md-10" style="text-align: justify; justify-content: end;">
        <thead style="border: inset;">
            <tr style="border: inset;">
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>Vacuna</th>
                <th>Fecha</th>
            </tr>
        </thead>
            <tbody style="border: inset;">
                {% if personas %}
                {% for pers in personas %}
                <tr style="border: inset;">
                    <td>{{ pers.rut  }}</td>
                    <td>{{ pers.nombre }}</td>
                    <td>{{ pers.ap_paterno }}</td>
                    <td>{{ pers.ap_materno  }}</td>
                    <td>{{ pers.edad }}</td>
                    <td>{{ pers.nombre_vacuna }}</td>
                    <td>{{ pers.fecha }}</td>
                </tr>
                {% endfor %}
                {% else %}
                 <h2>No existen registros de personas...</h2>
                {% endif %}                
            </tbody>
    </table>
</body>
</html>